.one{
    width:215px;
    height:340px;
	float:left;
	margin-left:90px;
}

.two{
	background-color: #333333;
	width:215px;
	height:315px;
	color:#e2e2e2;
	border-top:3px ridge #e2e2e2;
	border-left:3px ridge #e2e2e2;
	border-right:3px ridge #e2e2e2;
	font-size:20px;
	font-family:georgia;
	letter-spacing:1px;
	margin-top:110px;
	text-align:center;
	padding-top:135px;
	box-sizing:border-box;
}
.three{
	width:215px;
	height:25px;
	margin-top:0px;
	background-color:#e2e2e2;
	font-family:georgia;
	color:#333333;
	text-align:center;
	padding-top:2px;
	box-sizing:border-box;
}
